@font-face {
  font-family: 'CheeseFont';
  src: url('https://res.cloudinary.com/dsfrgrq3w/raw/upload/v1698574954/wendao_cheese_font_kvi3ff.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*
body {
    font-family: 'CheeseFont'; 
    font-size: 16px;
}
*/

/* src: url('https://cdn.jsdelivr.net/gh/onaniisyoujo/onaniisyoujo.github.io/font/wendao_cheese_font.woff2') format('woff2'); */